.wrapper {
    padding-top: 50px;
    /* background: #ECEFF1; */
    background-image: url("https://wallpapertag.com/wallpaper/full/c/4/7/526650-best-despicable-me-minions-background-2880x1800-image.jpg");
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 50px;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
  